#page_accueil{
    width: 75%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#matchProfile{
    display: flex;
    flex-direction: column;
    width: 30%;
}
#profil{
    background-color: #868686;
    color: white;
    border-radius: 15px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    box-shadow: 0 5px 30px #868686;
    background-image: url(../images/mario.0.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    margin-top: 20%;
}
#profil img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#actions{
    display: flex;
    justify-content: center;
}
#description{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    backdrop-filter: blur(40px) saturate(200%);
    background: #ffffff21;
    color: #000000cc;
}
#description p{
    padding: 2%;
    overflow: hidden;
    overflow-y: auto;
}
#actions form{
    margin: 6%;
}
#actions button{
    background-color: rgba(170, 82, 91, 0.84);
    color: white;
    padding: 10%;
    border: 1px solid rgba(170, 82, 91, 0.84);
    box-shadow: 0 5px 30px #868686;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
    text-align: center;
}
i{
    font-size: 25px;
}
#actions button:hover{
    background-color: rgba(145, 64, 63, 0.95);
}
#actions button:active{
    background-color: rgba(170, 82, 91, 0.84);
}

@media(max-width: 680px){
    #page_accueil{
        width: 100%;
        height: 80vh;
    }
    #matchProfile{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    #profil{
        height: 55vh;
    }
}

@media(min-width: 450px) and (max-width: 680px) {
    #page_accueil{
        width: 50%;
        height: 100vh;
    }
    #matchProfile{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    #profil{
        height: 70vh;
    }
}